@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UCL Alumni Club Shanghai</h1>
    <p class="lead">UCL Alumni Club Shanghai is a alumni reunion platform for all UCLers in Shanghai</p>
    <p><a href="http://www.ucl.ac.uk/" class="btn btn-primary btn-lg">Learn more about UCL&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Latest Activity</h2>
        <p>
            Sorsa-UCL established
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>WeChat Group</h2>
        <p>find us on Wechat</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>QQ</h2>
        <p>find us on QQ</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>